body {
    color: #e0e0e0; /* Light text for contrast */
    font-size: 12px;
}

#news-wrapper {
    background-color: rgba(28, 29, 35, 0.5); /* 50% opacity */
    overflow: hidden;
    height: 100vw;
    transition: height 200ms ease;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    border-radius: 5px;
    background-color: #f44336;
    padding: 2px 0px;
    text-align: center;
    width: 50px;
    margin-top: 30px;
}

a {
    color: #66b3ff; /* Soft blue for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.info {
    color: #595959;
}


/* ✅ bullish news - Highlight in green */
.bullish-news {
    color: #4caf50 !important; /* Green */
    font-weight: bold !important;
}

/* ❌ Bearish news - Highlight in red */
.bearish-news {
    color: #f44336 !important; /* Red */
    font-weight: bold !important;
}