body {
    background-color: white;
    margin: 0;
    padding: 10px;
}
body::-webkit-scrollbar {
    display: none;
}
table {
    border-collapse: collapse;
}
table,
th,
td {
    border: 1px solid black;
}
th,
td {
    padding: 8px;
    text-align: left;
}
h2 {
    -webkit-app-region: drag;
}
/* Apply pointer cursor to Symbol column */
#tickers-session td:first-child,
#tickers-daily td:first-child {
    cursor: pointer;
}

/* Style when symbol is clicked (feedback effect) */
#tickers-session td.copied,
#tickers-daily td.copied {
    background-color: #90EE90; /* Light green */
    transition: background-color 0.3s ease-in-out;
}
