html, body{
    outline: none !important;
    box-shadow: none !important;
}
body {
    margin: 0;
    padding: 0px;
    font: menu;
    font-size: 10px;
    background-color: #1c1d23; /* Dark mode background */
}

body::-webkit-scrollbar {
    display: none;                /* Chrome, Safari and Opera */
  }

h2 {
    -webkit-app-region: drag;
    font-size: 10px;
    color: #595959;
    margin-left: 10px;
    width: 59%;
}

/* Disable text selection across the entire application */
* {
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.draggable {
    -webkit-app-region: drag; /* Makes the entire window draggable */
}
.no-drag {
    -webkit-app-region: no-drag; /* Prevent drag on interactive elements */
}

/* Remove outline from all elements when clicked */
*:focus,
*:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

img {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
}

a {
    text-decoration: none !important;
}

img {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
}

body::-webkit-scrollbar {
    display: none;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px; /* ✅ Set custom font size */
    display: none;
    pointer-events: none; /* ✅ Prevent interfering with clicks */
    white-space: nowrap;
}

.symbol{
    font-size: 11px !important;
}